<div class="formation">
    <div class="formation-header">
        <div class="formation-header-text">
            <div class="formation-header-text-time" @click="isTime = true">任务执行评估</div>
            <div class="formation-header-text-ship" @click="isTime = false">艇群控制精度评估</div>
        </div>
        <div class="formation-header-underline">
            <div class="formation-header-underline-time" :style="isTime ? 'visibility: visible' : 'visibility: hidden'"></div>
            <div class="formation-header-underline-ship" :style="!isTime ? 'visibility: visible' : 'visibility: hidden'"></div>
        </div>
    </div>
    <div class="formation-content">
        <canvas id="canvas" v-if="!isTime"></canvas>
        <div class="reactiontime-content-item" v-if="isTime">
            <div class="reactiontime-content-item-greenborder">
                <div class="reactiontime-content-item-greenborder-text">
                    <p class="num">{{ reactiontimeResult[0].value }}<span class="unit">{{ reactiontimeResult[0].unit }}</span></p>
                    <p class="label">{{ reactiontimeResult[0].name }}</p>
                </div>
            </div>
        </div>
        <div class="reactiontime-content-item" v-if="isTime">
            <div class="reactiontime-content-item-orangeborder">
                <div class="reactiontime-content-item-orangeborder-text">
                    <p class="num">{{ reactiontimeResult[1].value }}<span class="unit">{{ reactiontimeResult[1].unit }}</span></p>
                    <p class="label">{{ reactiontimeResult[1].name }}</p>
                </div>
            </div>
        </div>
        <div class="reactiontime-content-item" v-if="isTime">
            <div class="reactiontime-content-item-redborder">
                <div class="reactiontime-content-item-redborder-text">
                    <p class="num">{{ reactiontimeResult[2].value }}<span class="unit">{{ reactiontimeResult[2].unit }}</span></p>
                    <p class="label">{{ reactiontimeResult[2].name }}</p>
                </div>
            </div>
        </div>
        <div class="reactiontime-content-item" v-if="isTime">
            <div class="reactiontime-content-item-blueborder">
                <div class="reactiontime-content-item-blueborder-text">
                    <p class="num">{{ reactiontimeResult[3].value }}<span class="unit">{{ reactiontimeResult[3].unit }}</span></p>
                    <p class="label">{{ reactiontimeResult[3].name }}</p>
                </div>
            </div>
        </div>
        <!-- <div v-if="!isTime" class="reactiontime-content-longitem">
            <div class="reactiontime-content-longitem-redborder">
                <div class="reactiontime-content-longitem-redborder-text">
                    <p class="num">{{ processResult[2].value }}</p>
                    <p class="label">{{ processResult[2].name }}</p>
                </div>
            </div>
        </div> -->
        <div v-if="isTime" class="reactiontime-content-timeicon"></div>
    </div>
</div>
