.perception {
    @include size(100%, 50%);
    border: 1px solid rgba(44,61,64,1);
    letter-spacing: 1px;

    &-header {
        @include size(100%, 53px);
        border-bottom: 1px solid rgba(44,61,64,1);
        background-color: rgba(30,34,34,1);
        p {
            @include size(100%, 100%);
            display: inline-block;
            font-size: 21px;
            font-family: "Microsoft YaHei";
            font-weight: 400;
            text-align: center;
            color: #b8fcf5;
            line-height: 53px;
            letter-spacing: 1px;
        }

        &-time {
            position: absolute;
            right: 30px;
            line-height: 53px;
        }
        
    }

    &-content {
        @include size(100%, calc(100% - 53px));
        box-shadow: 0px 1px 35px rgba(39,62,65,0.50) inset;

        &-position {
            @include size(38%, 90%);
            margin: 0 1%;
            border-right: 1px dotted rgba(44,61,64,1);
            display: inline-block;
            vertical-align: top;
            transform: translateY(5%);

            &-item {
                @include size(40%, 30%);
                display: inline-block;
                margin: 1% 0 1% 5%;
                
                &-num {
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                    color: rgba(255,255,255,0.9);
                    letter-spacing: 1px;
                    &-unit {
                        color: rgba(71,118,126,1);
                    }
                }
                &-label {
                    height: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    color: #7adaea;
                    line-height: 20px;
                    background: linear-gradient(180deg,rgba(0,255,176,0.35) 0%, rgba(0,255,176,0.00) 35%, rgba(0,255,176,0.091) 71%, rgba(0,255,176,0.35) 100%);
                }
            }
        }
        &-count {
            @include size(19%, 90%);
            margin-right: 2%;
            display: inline-block;
            vertical-align: top;
            transform: translateY(5%);

            &-time {
                @include size(96%, 25px);
                margin-left: 4%;
                background-image: url(../../../../../../assets/images/countheader.png);
                background-size: 100% 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
                color: rgba(255,255,255,0.9);
                line-height: 25px;
                &-unit {
                    color: rgba(71,118,126,1);
                }
                &-label {
                    color: #7adaea;
                }
            }

            &-num {
                @include size(70%, 65%);
                margin: 10px 0 0 20%;
                background-image: url(../../../../../../assets/images/count.png);
                background-size: 100% 100%;
                text-align: center;
                p {
                    font-size: 26px;
                    font-weight: 700;
                    text-align: center;
                    color: rgba(255,255,255,0.9);
                    letter-spacing: 1px;
                    padding-top: calc(50% - 13px);
                }
            }

            &-label {
                font-size: 16px;
                margin:10px 0 0 9%;
                font-weight: 700;
                text-align: center;
                letter-spacing: 1px;
                color: #7adaea;
            }
        }
        &-rate {
            @include size(37%, 90%);
            border-left: 1px dotted rgba(44,61,64,1);
            display: inline-block;
            vertical-align: top;
            transform: translateY(5%);

            &-item {
                @include size(25%, 45%);
                display: inline-block;
                margin: 0 5% 0 15%;
                transform: translateY(-20%);
                p {
                    font-size: 12px;
                    padding-top: 47px;

                    .unit {
                        font-size: 8px;
                    }
                    transform: scale(0.82);
                }

                &-greennum {
                    @include size(90px, 75px);
                    background-image: url(../../../../../../assets/images/greenboard.png);
                    background-size: 100% 100%;
                    text-align: center;
                }
                &-bluenum {
                    @include size(90px, 75px);
                    background-image: url(../../../../../../assets/images/blueboard.png);
                    background-size: 100% 100%;
                    text-align: center;
                }
                &-orangenum {
                    @include size(90px, 75px);
                    background-image: url(../../../../../../assets/images/orangeboard.png);
                    background-size: 100% 100%;
                    text-align: center;
                }
                &-rednum {
                    @include size(90px, 75px);
                    background-image: url(../../../../../../assets/images/redboard.png);
                    background-size: 100% 100%;
                    text-align: center;
                }
                &-label {
                    font-size: 12px;
                    font-weight: 500;
                    color: #7adaea;
                    letter-spacing: 1px;
                    text-align: center;
                }
                
            }
        }
    }

}